


#popular_movies {
  display: flex;
  flex-wrap: wrap;
}

#popular_movies > .item {
  margin-top: 1em;
  flex: 0 50%;
}



hr { 
  width: 80%;
  color: lightgrey;
  margin: 0;
  padding: 0;
}

#movie_details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#movie_details > #header {
  font-size: 1.2em;
  text-align: center;
}

#description {
  width: 80%;
  padding: 1em;
  margin: 0;
}


#button_group {
  margin-top: auto;
}

#popular_movies > .cardMovieOrTv {
  border-top: .5px solid lightgrey;
  border-bottom: .5px solid lightgrey;
  
  padding: 10px;
  border-radius: 10px;
}

#search_panel {
  display: flex;
  flex-direction: column;
}

#search_panel > .ui.input {
  width: 40%;
  align-self: center;
  margin: .3em;
}

#search_panel > #button_search {
  width: 20%;
  align-self: center;
}
